node_modules
yarn-error.log
config/*.env
database
config/local*
logs/*
tmp/
temp/
uploads/*
.env*

# Yarn files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
